---
- name: Create Zabbix host groups
  community.zabbix.zabbix_group:
    host_groups:
      - Web Certificate
      - Linux Virtual Machines
    state: present

- name: Remove default Zabbix server host
  community.zabbix.zabbix_host:
    host_name: Zabbix server
    state: absent

- name: Create Zabbix host for Bastion-srv03
  community.zabbix.zabbix_host:
    host_name: bastion-srv03
    visible_name: Bastion-srv03
    host_groups:
      - Linux Virtual Machines
    link_templates:
      - Linux by Zabbix agent
    interfaces:
      - type: 1
        main: 1
        useip: 1
        ip: 192.168.1.5
        dns: ""
        port: "10050"
    state: present

- name: Create Zabbix host for Grafana-srv02
  community.zabbix.zabbix_host:
    host_name: grafana-srv02
    visible_name: Grafana-srv02
    host_groups:
      - Linux Virtual Machines
    link_templates:
      - Linux by Zabbix agent
      - Docker by Zabbix agent 2
    interfaces:
      - type: 1
        main: 1
        useip: 1
        ip: 192.168.1.3
        dns: ""
        port: "10050"
    state: present

- name: Create Zabbix host for Zabbix-srv01
  community.zabbix.zabbix_host:
    host_name: zabbix-srv01
    visible_name: Zabbix-srv01
    host_groups:
      - Linux Virtual Machines
      - Zabbix servers
    link_templates:
      - Linux by Zabbix agent
      - Docker by Zabbix agent 2
      - Zabbix server health
    interfaces:
      - type: 1
        main: 1
        useip: 1
        ip: 192.168.1.2
        dns: ""
        port: "10050"
    state: present


- name: Create Zabbix host for school web cerfificate
  community.zabbix.zabbix_host:
    host_name: pslib.cz
    visible_name: PSLIB Web Certificate
    host_groups:
      - Web Certificate
    link_templates:
      - Website certificate by Zabbix agent 2
    interfaces:
      - type: 1
        main: 1
        useip: 1
        ip: 192.168.1.2
        dns: ""
        port: "10050"
    macros:
      - macro: "{$CERT.WEBSITE.HOSTNAME}"
        value: "www.pslib.cz"
    state: present