---
- name: Enable Zabbix plugin
  ansible.builtin.uri:
    url: "http://192.168.1.3:3000/api/plugins/alexanderzobnin-zabbix-app/settings"
    method: POST
    user: "admin"
    password: "{{ grafana_admin_password }}"
    force_basic_auth: yes
    body_format: json
    body:
      enabled: true
    status_code: 200